:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #e0dfdf;
    --color-neutral-60: #ECC71E;
    --color-neutral-80: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
} 

footer{
    width: 100%;
    color: var(--color-neutral-0);
}

#footer_content{
    background-color: var(--color-neutral-40);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;;
}

#footer_social_media .footer_link{
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-neutral-40);
    border-radius: 50%;
    text-decoration: none;
    color: var(--color-neutral-60);
    transition: all 0.4s;
}

#footer_social_media .footer_link:hover{
    background-color: var(--color-neutral-60);
    color: var(--color-neutral-80);
}

#instagram, #facebook, #whatsapp{
    background-color: var(--color-neutral-80);
}

.footer_list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}


.footer_list .footer_link{
    color: var(--color-neutral-10);
    text-decoration: none;
}

.footer_list .footer_link:hover{
    color: var(--color-neutral-60);
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p{
    color: var(--color-neutral-10);
}

#input_group{
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-30);
    border-radius: 4px;
}

#input_group{
   display: flex;
   align-items: center;
   background-color: var(--color-neutral-60);
   border-radius: 4px;
}

#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button{
    background-color: var(--color-neutral-60);
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.25rem;
    height: 100%;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: all 0.4s;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-60);
    color: var(--color-neutral-80);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px){

    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px){
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
    .input_group{
        width: 100%;
    }
}